* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: gray;
}

body.dark::after {
  content: '';
  display: block;
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100VH;
  background: rgba(128, 128, 128, 0.287);
  top: 0;
  z-index: 1200;
}
main {
  margin-top: 30px;
}
a {
  color: #4182aa;
  outline: none;
  text-decoration: none;
}
.clear-fix {
  clear: both;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.pointer {
  cursor: pointer;
}
/*  header */
header {
  background-color: rgb(243, 243, 243,.6);
  padding: 16px 0;
}
label.search-box {
  background-color: rgb(239, 239, 239);
  border-radius: 25px;
  display: block;
  width: 100%;
  max-width: 600px;
  padding: 6px;
  display: flex;
  position: relative;
  z-index: 1300;
}
label.search-box input {
  background: none;
  border: none;
  outline: none;
  color: gray;
  padding-left: 16px;
  padding-right: 16px;
}
label.search-box svg {
  width: 35px;
  height: 35px;
  padding: 3px;
  color: gray;
  border-radius: 50%;
  cursor: pointer;
}
label.search-box svg:hover {

  background: rgb(190, 203, 219);
}
label.search-box .provider{
  border-right: 1px solid gray;
  margin-right: 8px;
  padding: 5px;
}
label.search-box .provider svg {
  width: 20px;
  height: 20px;
  color: gray;
}

.auth-box{
  display: flex;
}
.auth-box svg{
  width: 35px;
  height: 25px;
  color: blue;
}

/* lang  */
#faFlag {
  background: url('../public/icons/fa.png') no-repeat center center;
  width: 65px;
  height: 50px;
}

#enFlag {
  background: url('../public/icons/en.png') no-repeat center center;
  width: 65px;
  height: 50px;
}

/* card hover */
.card-hover-img {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  z-index: 1000;
}

.card-hover-push {
  position: absolute;
  bottom:0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 1));
  height:0;
  overflow: hidden;
  width:100%;
  z-index:4000;
  transition: all .4;
  color: white;
  padding: 0px;
}
.card-hover {
  position: relative;
  min-height: 100px;
  margin: 5px;
}
.card-hover:hover .card-hover-push {
  height: 160px;
  padding: 6px;
  padding-top: 100px;
  transition: all .4;
  
}
.card-hover h4{
  font-size: 16px;
}

/* card static */
.card-static-img {
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  z-index: 1000;
}

.card-static-push {
  position: absolute;
  bottom:0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.09), rgba(0, 0, 0, 1));
  overflow: hidden;
  width:100%;
  z-index:4000;
  color: white;
  height: 160px;
  padding: 6px;
  padding-top: 100px; 
  z-index: 1000;
}
.card-static {
  position: relative;
  min-height: 100px;
  margin: 5px;
}
.card-static h4{
  font-size: 16px;
}

.btn-omid {
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
  border:1px solid rgb(139, 138, 138);
  width: 100%;
  text-align: center;
}
.btn-omid:hover {
  background-color: rgb(216, 215, 215);
}

.list-home-cat ul.cont-4{
  column-count: 4;
  column-width: 270px;
}

.list-home-cat ul.cont-4 li{
  list-style: none;
  display: list-item;
    text-align: -webkit-match-parent;
    padding-top: 10px;
}

/* footer */
footer {
  margin-top: 96px!important;
  background-color: #5e5e5e;
  padding-top: 35px;
  padding-bottom: 35px;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  display: inline-block;
  list-style: none;
  margin-right: 12px;
}
footer ul li a {
  color: white;
}
footer svg {
  width: 25px;
  height: 25px;
  color: white;
  margin-left: 12px;
}

/* auth box pop*/

.auth-box-pop {
  position: fixed;
  z-index: 900000;
  left: 0; right: 0;
  margin-left: auto; margin-right: auto;
  text-align: center;
}